* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: axiforma;
  src: url(../src/fonts/FontsFree-Net-sddd4.ttf);
}
/* body {
  font-family: axiforma;
} */
body {
  background: brown;
  margin-top: 80px;
  background-color: #141414;
  /* background-image: url(./images/background1.jpg);
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  object-fit: fill;
  position: relative;
  background-attachment: fixed;
  z-index: 1; */
}
body::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: -1;
}
.navLogo {
  width: 70px;
  height: 70px;
  /* transform: rotate(-28deg); */
  border-radius: 50%;
  /* transition: 1.4s ease 0s; */
}
/* .navLogo:hover {
  width: 100px;
  height: 100px;
  transition: 1.4s ease-in-out 0s;
} */
/* navigation end */
/* carousel start */
.carousel-item {
  margin: 0px;
  padding: 0px;
  margin-right: -100%;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 90vh;
  position: relative;
}
.carouselHeading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: cornsilk;
  z-index: 1;
  color: #d8d8d8;
  /* background: linear-gradient(to right, #ffffff, #a6a6a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.carousel-item::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}
/* About section */
.profile {
  /* background-image: url(./images/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed; */
}
.profile::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  /* z-index: 3; */
}
#contact-me {
  /* background-image: url(./images/background1.jpg); */
}
.about {
  position: relative;
  z-index: 3;
  color: wheat;
}
.section-heading {
  font-family: "Pridi", serif;
  padding-top: 45px;
  padding-bottom: 30px;
}

.description {
  font-size: 20px;
  position: relative;
  z-index: 2;
}
/* .profileButton > a {
  width: 60%;
} */
/* skills */
.card > ul {
  list-style: none;
}
.card > ul > li {
  margin: 18px;
}
/* .s-hover:hover {
  transform: scale(1.2);
} */
hr {
  border: none;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(247, 243, 243, 0),
    rgba(255, 255, 255, 0.7),
    rgba(119, 106, 106, 0)
  );
}
